# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment folder
venv/

# CSV files (if you don't want to track the CSV data)
data/expenses.csv

# Jupyter Notebook checkpoints (if you use Jupyter)
.ipynb_checkpoints/

# VSCode settings
.vscode/
